.footers {
    margin: 80px auto;
    
}
.contact {
   text-align: center;
   margin-bottom: 40px;
    font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: blue;
}
.footer {

    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

}
.left-side {
    flex-basis: 48%;
}
.left-side ul {
    list-style: none;
}
.left-side img {
    width: 30px;
}

.left-side ul li {
    display: flex;
    align-items: center;
    margin: 20px 0px;
   gap: 30px;
}
.left-side h2 {
    margin-bottom: 10px;
    font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: blue;
}
.left-side p {
    font-size: 18px;
}
.left-side form input, .left-side form textarea {
    display: block;
    width: 100%;
    background:#EBECFE;
    padding: 8px;
    border: #EBECFE;

}
.left-side label {
    color: blue;
}
.left-side button {
   border: white;
  
    
    
   
   

}